.centrar {
    text-align:center;
}
.subtitulo {
    color:#2980B9;
}

.divCajas {
    float: left; 
    height: 375px; 
    width: 300px;
}
.caja{
    float:left;
}
.etiqueta {
    float:left;
    height: 30px;
    margin-top:20px;
    margin-bottom:20px;
}
.divEtiqueta {
    clear:both;
    height:60px;
}
.divArriba {
    margin:auto; 
    height: 550px; 
    width: 1300px;
}
.divIzquierdo {
    float: left; 
    height: 300px; 
    width: 200px;
}
.divDerecho {
    float: left; 
    height: 300px; 
    width: 200px;
}
.divAbajo {
    height: 300px; 
    width: 800px; 
    margin:auto; 
    clear:both;
}
.divValidacion {  
    width: 800px;
    margin:auto;
    clear:both;  
}
.divBoton {
    margin:auto;
    clear:both; 
    padding:20px; 
    width: 300px;  
}
.tabla {
    margin-left:80px;
    width:600px;
}
.margenBoton {
    margin-left:20px;
}
.imagenMas {
    margin-left: 710px;
    
}
.imagenMenos {
    margin-left: 710px;
    
}
.asterisco {
    float:right;
    padding-top:20px;
    padding-bottom:5px;
}


.rif {
    position:absolute;
    top: 172px;
    left: 107px;
}

.razonsocial {
    position:absolute;
    top: 232px;
    left: 76px;
}
.correo {
    position:absolute;
    top: 291px;
    left: 95px;
    height: 18px;
}
.paginaweb {
    position:absolute;
    top: 356px;
    left: 91px;
}
.telefono {
    position:absolute;
    top: 419px;
    left: 90px;
}
.contrato {
    position:absolute;
    top: 170px;
    left: 540px;
}

.pais {
    position:absolute;
    top: 231px;
    left: 555px;
}

.estado {
    position:absolute;
    top: 292px;
    left: 551px;
}

.ciudad {
    position:absolute;
    top: 354px;
    left: 556px;
}

.direccion {
    position:absolute;
    top: 418px;
    left: 551px;
}

.tbpais {
    position:absolute;
    top: 218px;
    left: 684px;
}

.tbestado {
    position:absolute;
    top: 279px;
    left: 683px;
}

.tbciudad {
    position:absolute;
    top: 342px;
    left: 685px;
}

.tbdireccion {
    position:absolute;
    top: 400px;
    left: 686px;
}

.botonaceptar {
    position:absolute;
    top: 597px;
    left: 449px;
}

.botonregresar {
    position:absolute;
    top: 597px;
    left: 568px;
}

.tbrif {
    position:absolute;
    top: 149px;
    left: 202px;
}

.tbrazonsocial {
    position:absolute;
    top: 210px;
    left: 204px;
}

.tbcorreo {
    position:absolute;
    top: 272px;
    left: 204px;
}

.tbpaginaweb {
    position:absolute;
    top: 335px;
    left: 205px;
}

.tbtelefono {
    position:absolute;
    top: 398px;
    left: 206px;
}

.tbcontrato {
    position:absolute;
    top: 150px;
    left: 683px;
}

.status {
    position:absolute;
    top: 488px;
    left: 96px;
}

.tbstatus {
    position:absolute;
    top: 475px;
    left: 204px;
}