.Estilocontenedor {
   width:auto;
   display:inline-block;
   margin-left:250px;
   margin-top:100px;
}

.Divporfila {
    display:block;
    width:auto;
}

.Estilodivlabels {
   display: inline-block;
   position:relative;
   min-width:150px 
}

.Estilodivtextbox, .Estilodivcombo {
    display: inline-block;
    position:relative;
    min-width:200px;
  
}

.Estilodivboton {
    display: inline-block;
    position:relative;
    min-width:300px;
  
}

div.centerTable{
        text-align: center;
}

div.centerTable table {
       margin: 0 auto;
       text-align:right;
}

.containerTabla {
    float:left;
    margin-left:auto;
    margin-right:auto;
    padding-left:20px;
    width:480px;
}

.paddinIzquierda {
    padding-left:60px;
}

.marginBotonAgregar {
  
    display:block;
    margin-top:20px;
    position:relative;
}

 .marginBotonAgregar > input {
  margin-left:450px; 
 }

.tabla {
   margin-left: 345px;
   margin-top: 32px;
}

.Estilogridview {
    display: inline-block;
    margin-left: 170px;
}





.Estilogridviewseccion {
    display: inline-block;
    margin-left: 200px;
}

.EstiloMenConfirmacion {
   position:relative; 
   text-align:center; 
   color:red;
}