.TablaConsulta {

margin: 0 auto 0 auto;

}

.TablaNombre{

padding-left:90px;
font-weight:bold;
width:47%;
height:60px;
}

.TablaValor{

padding-left:8%;
width:53%;

}

.BotonTabla {

    text-align:center;
    padding-top:10px;
    padding-bottom:50px;

}

.subtitulo {
    color:#2980B9;
}
.centrado {
    text-align:center;
}
.avisoMensaje {
    text-align:center;
    font-weight:bold;
}