<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--- todos los proyectos de pruebas unitarias deben tener estas lineas-->
    <!--<add name="MACARRO" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MACARRO.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />-->
     <add name="MACARRO" connectionString="Data Source=DANIELPRATO-PC;Initial Catalog=MACARRO;User ID=DANIEL;Password=admin123" providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>