body {
    min-width:1320px;
    margin:0px;
    overflow:auto;
    font-family: 'Open Sans', sans-serif;

}
header.main_header {
    
    position:relative;
    z-index:50;
    width:100%;
    height:100px;
    background-color:#38B0E4;

}

div.header_container {

    width:90%;
    padding-top:5px;
    margin-left:auto;
    margin-right:auto;
    height:90px;

}

div.header_logo {
    
    height:100%;
    width:200px;
    display:inline-block;
    float:left;

}

div.header_logo a img {

    width:100%;
    height:100%;
    
}

div.header_log {
    
    height:100%;
    width:330px;
    display:inline-block;
    float:right;

}


div.header_log_user_name {
    
    padding-top:32px;
    padding-bottom:32px;
    display:inline-block;
    float:left;
    text-align:right;
    max-width:210px;
    width:210px;
    color:white;

}

div.header_log_icons{
    width:120px;
    height:60px;
    display:inline-block;
    float:right;
    margin-top:10px;
}


.iconoslogout{

    width:60px;
    height:60px;
    float:left;

}


div.title {
    display:inline-block;
    float:left;
    width:55%;
    height:100%;
    line-height:90px;
}

div.title h1{
    color:white;
    margin:0px;
    width:100%;
    height:100%;
    text-align:center;
}

nav.menu {
    width:20%;
    background-color:#2980B9;
    height:100%;
    position:absolute;
    overflow:auto;
    font-size:15px;
}

div.content {
    position:relative;
    width:100%;
    overflow:auto;
    min-height:550px;
}

ul.menu_ul,ul.menu_second_ul{
    list-style:none;
    padding:0px;
    line-height:30px;
    vertical-align:middle;
    margin-left:25px; 
}

li.menu_li {
    padding-bottom:10px;

}

li.menu_li a {

    text-decoration:none;
    font-family: 'Open Sans', sans-serif;
    color:white;
    font-size:larger;
    font-weight:normal;

}

li.menu_li a img{
    height:15px;
    width:15px;
    float:right;
    margin-right:20px;
}

ul.menu_second_ul {
    background-color:#38B0E4;
    margin-left: 25px;

}
li.menu_li>a:hover {

    color:#38B0E4;
}
li.menu_li > a.active {

    color:#38B0E4;

}
li.menu_second_li>a:hover {

    color:#2980B9;
}



div.content_middle {
    margin-top:10px;
    margin-bottom:10px;
    min-height:500px;
    width:78%;
    display:inline-block;
    float:right;
    position:relative;
    border-radius:2px;
    background-color:#EBEBEB;
    margin-left:2.5%;
    margin-right:1.5%;
}

footer.main_footer {

    background-color:#38B0E4;
    width:100%;
    height:80px;

}

footer.main_footer h3{
    margin:0px;
    color:white;
    padding-top:25px;
    text-align:center;
}


li.header_menu_first_li {
    
    display:inline-block;
    float:left;
    height:100%;
    line-height: 90px;
    vertical-align: middle;

}
li.header_menu_first_li a>img {
    
    padding-right:5px;

}

li.header_menu_first_li>a:hover {
    
    color:#38B0E4;

}

li.header_menu_first_li.active>a:hover {
    
    color:white;

}

li.header_menu_first_li a.active {
    
    color:white;
    background-color:#38B0E4;
}

li.header_menu_first_li a{
    
    padding-top:32px;
    padding-bottom:32px;
    padding-left:10px;
    padding-right:10px;
    font-size:larger;
    font-weight:normal;
    text-decoration:none;
    color:white;

}

li.header_menu_first_li a img {
    
    height:10px;
    width: 10px;

}

ul.header_menu_second_ul {

    display:none;
    padding:3px;
    border-radius:4px;
    background-color:#2980B9;
    position:absolute;
    margin-top:10px;
    list-style:none;
    min-width:175px;
}
ul.header_menu_second_ul_Profile {

    display:none;
    padding:3px;
    border-radius:4px;
    background-color:#2980B9;
    position:absolute;
    margin-top:87px;
    list-style:none;
    min-width:175px;
    margin-left:-120px;
}

li.header_menu_second_li {
    
    display:block;
    height:100%;
    line-height: 30px;
    vertical-align: middle;
    border-radius:4px;

}

li.header_menu_second_li:hover {
    
    background-color:#38B0E4;

}

li.header_menu_second_li a{
    
    padding-top:0px;
    padding-bottom:0px;
    padding-left:10px;
    padding-right:10px;
    font-size:larger;
    font-weight:normal;
    text-decoration:none;
    color:white;

}
.a {
    padding-top:0px;
    padding-bottom:0px;
    padding-left:10px;
    padding-right:10px;
    font-size:larger;
    font-weight:normal;
    text-decoration:none;
    color:white;
    cursor:pointer;
}
div.header_log_user_name {
    
    padding-top:34px;
    padding-bottom:34px;
    display:inline-block;
    float:left;
    text-align:right;
    max-width:270px;
    width:270px;
    color:white;

}

div.header_log_icons{
    width:60px;
    height:60px;
    display:inline-block;
    float:right;
    padding-top:15px;
    padding-bottom:15px;
    margin-top:0px;
}
