.centrar {
    text-align:center;
}
.subtitulo {
    color:#2980B9;
}

.divCajas {
    float: left; 
    height: 300px; 
    width: 300px;
}
.caja{
    float:left;
}
.etiqueta {
    float:left;
    height: 30px;
    margin-top:10px;
    margin-bottom:10px;
}
.divEtiqueta {
    clear:both;
    height:50px;
}
.divArriba {
    margin:auto; 
    height: 350px; 
    width: 1100px;
}
.divIzquierdo {
    float: left; 
    height: 300px; 
    width: 200px;
}
.divDerecho {
    float: left; 
    height: 300px; 
    width: 200px;
}
.divAbajo {
    height: 300px; 
    width: 800px; 
    margin:auto; 
    clear:both;
}
.divValidacion {  
    width: 800px;
    margin:auto;
    clear:both;  
}
.divBoton {
    margin:auto;
    clear:both; 
    padding:20px; 
    width: 300px;  
}
.tabla {
    margin-left:80px;
    width:600px;
}
.margenBoton {
    margin-left:20px;
}
.imagenMas {
    margin-left: 710px;
    
}
.imagenMenos {
    margin-left: 710px;
    
}
.asterisco {
    float:right;
    padding-top:20px;
    padding-bottom:5px;
}


