.centrar {
    text-align:center;
}
.subtitulo {
    color:#2980B9;
}
.etiquetaDerecha {
    float:right;
    margin-right:20px;
    padding:10px;
}
.etiquetaIzquierda {
    float:left;
    margin-left:20px;
    padding:10px;
}
.divArriba {
    margin:auto; 
    height: 350px; 
    width: 1000px;
}
.divIzquierdo {
    float: left; 
    height: 300px; 
    width: 500px;
}
.divDerecho {
    float: left; 
    height: 300px; 
    width: 500px;
}
.divAbajo {
    height: 300px; 
    width: 800px; 
    margin:auto; 
    clear:both;
}
.tabla {
    margin-left:100px;
    width:600px;
}
.divBoton {
    clear:both; 
    margin:auto; 
    padding:20px; 
    width: 130px;
}
