<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <!--- todos los proyectos de pruebas unitarias deben tener estas lineas-->
    <add name="MACARRO" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\MACARRO.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!-- esto es para conectarse con sql server <add name="MACARRO" connectionString="Data Source=EXMACHINE-PC\SQLEXPRESS;Initial Catalog=MACARRO;User ID=usuario;Password=123456" providerName="System.Data.SqlClient" />-->
  </connectionStrings>


</configuration>