.contenedor {
    align-content:center;
   align-items:center;
}

.tabla
{
    margin:10px;
}

.boton_centrado {
    height: 40px;
    width: 100px;
    margin: 0px auto;
    padding-bottom:20px;
}

table .boton_centrado {
    margin: 0px 10px;
}

.centrado {
    width: 105px;
    margin:0px auto;    
}