.Bloque {
 position:relative;
 margin-left:auto;
 margin-right:auto;
 height: 566px;
    
    
}

.BloqueMensaje
{
margin-left:auto;
margin-right:auto;
}

.LabelAgregarNombre {
    position:absolute;
    top: 66px; 
    left: 135px;
}

.TextboxAgregarNombre {
    position:absolute;
    top: 44px;
    left: 246px;
}

.LabelAgregarCantidad {
    position:absolute;
    top: 131px; 
    left: 134px;
}

.TextboxAgregarCantidad {
    position:absolute;
    top: 110px; 
    left: 245px;
}

.LabelAgregarDescripcion {
    position:absolute;
    top: 195px; 
    left: 134px;
}

.TextboxAgregarDescripcion {
    position:absolute; 
    top: 174px; 
    left: 245px;
}

.LabelAgregarCantidadMinima {
    position: absolute;
    top: 249px;
    left: 134px;
    width: 80px;   
}

.TextboxAgregarCantidadMinima 
{
    position:absolute;
    left:245px;
    top:236px;
}
.LabelAgregarPrecioVenta {
    position:absolute;
    top: 136px; 
    left: 604px; 
    height: 17px; 
    width: 124px;
}

.TextboxAgregarPrecioVenta {
    position:absolute;
    top: 115px; 
    left: 743px;
    bottom: 382px;
}

.LabelAgregarPrecioCompra {
    position:absolute;
    top: 197px; 
    left: 604px;
}

.TextboxAgregarPrecioCompra {
    position:absolute;
    top: 176px; 
    left: 744px;
}

.LabelAgregarProveedor {
    position:absolute;
    top: 67px; 
    left: 603px;
}

.ComboProveedor {
    position:absolute;
    top: 54px; 
    left: 744px
}

.BotonAgregar {
    position:absolute;
    top: 323px;
    left: 487px;
}

.LabelModificarNombre {
    position:absolute;
    top: 172px; 
    left: 135px;
}

.TextboxModificarNombre {
    position:absolute;
    top: 153px; 
    left: 246px;
}

.BotonAceptarModificar {
    position:absolute;
    top: 307px; 
    left: 418px;
}

.BotonCancelarModificar {
    position:absolute;
    top: 307px; 
    left: 609px;
}

.LabelModificarCantidad {
    position:absolute;
    top: 242px; 
    left: 133px;
}

.TextboxModificarCantidad {
    position:absolute;
    top: 222px; 
    left: 245px;
}

.LabelModificarDescripcion {
    position:absolute;
    top: 307px; 
    left: 134px;
}

.TextboxModificarDescripcion {
   position:absolute;
    top: 288px; 
    left: 245px;
}

.LabelModificarPrecioVenta {
    position:absolute;
    top: 245px; 
    left: 604px; 
    height: 17px; 
    width: 124px;
}

.TextboxModificarPrecioVenta {
    position:absolute;
    top: 227px;
    left: 743px;
}

.LabelModificarPrecioCompra {
    position:absolute;
    top: 309px; 
    left: 605px;
}

.TextboxModificarPrecioCompra {
    position:absolute;
    top: 290px; 
    left: 746px;
}

.LabelModificarProveedor {
    position:absolute;
    top: 174px; 
    left: 603px;
}

.ComboModificarProveedor {
    position:absolute;
    top: 161px; 
    left: 743px
}

.LabelVerNombre {
    position:absolute;
    top: 99px; 
    left: 182px;    
}

.TextoVerNombre {
    position:absolute;
    top: 101px; 
    left: 307px;
}

.LabelVerCantidad {
    position:absolute;
    top: 162px; 
    left: 179px;
}

.TextoVerCantidad {
    position:absolute;
    top: 164px; 
    left: 306px;
   
}

.LabelVerDescripcion {
    position:absolute;
    top: 226px; 
    left: 180px;
  
}

.TextoVerDescripcion {
    position:absolute;
    top: 228px; 
    left: 306px;
}

.LabelVerPrecioVenta {
    position:absolute;
    top: 297px; 
    left: 176px; 
    height: 17px; 
    width: 124px;
}

.TextoVerPrecioVenta {
    position:absolute;
    top: 299px; 
    left: 305px;
}

.LabelVerPrecioCompra {
    position:absolute;
    top: 359px; 
    left: 176px;
}

.TextoVerPrecioCompra {
    position:absolute;
    top: 362px; 
    left: 306px;
}

.LabelVerProveedor {
    position:absolute;
    top: 101px; 
    left: 603px;
}

.TextoVerProveedor {
    position:absolute;
    top: 103px; 
    left: 733px;
}

.BotonVerVolver {
    position:absolute;
    top: 430px; 
    left: 473px;
}

.LabelVerActualizaciones {
    position:absolute;
    top: 268px; 
    left: 604px;
}

.ListBoxVerActualizaciones {
    position:absolute;
    top: 159px; 
    left: 731px; 
    height: 236px;
}

.TablaGestion {
    margin-top:10px
}

.LabelMensajeExito
{
    position:absolute;
    font-size:medium;
    display:block;
    padding:5px;
    padding-left:30px;
    border-radius:5px;
    background: #00c408;
    color:#fff;
}

.LabelMensajeFallo
{
    position:absolute;
    font-size:medium;
    display:block;
    padding:5px;
    padding-left:30px;
    border-radius:5px;
    background: #c40000;
    color:#fff;
}

Validaciones {
    position:absolute;
    top: 398px;
    
}

.ValidacionNombreAgregar {
    position:absolute;
    top: 68px;
    left: 516px;
  
}

.ValidacionCantidadAgregar {
    position:absolute;
    top: 133px;
    left: 517px;
}

.ValidacionPrecioAgregar {
    position:absolute;
    top: 140px;
    left: 1017px;
}

.ValidacionPrecio2Agregar {
    position:absolute;
    top: 201px;
    left: 1017px;
}

.ValidacionProveedorAgregar {
    position:absolute;
    top: 96px;
    left: 1017px;
}

.ValidacionDescripcionAgregar {
    position:absolute;
    top: 197px;
    left: 517px;
}

.BotonMas {
    position: absolute;
    top: 124px;
    left: 432px;
}

.BotonMenos {
    position: absolute;
    top: 124px;
    left: 464px;
}

.TextBoxModalWindow {
    width:190px;
}

.ValidacionCantidadMinima {
    position:absolute;
    top:259px;
    left:517px;
}

.ComboboxBuscar {
    position:absolute;
    top: 131px;
    left: 432px;
}

.TextboxBuscar {
    position:absolute;
    top: 123px;
    left: 68px;
}

.BotonBuscar {
    position:absolute;
    top: 140px;
    left: 615px;
}

.BotonBorrarBuscar {
    position:absolute;
    top: 140px;
    left: 646px;
}

.labelParametro {
    position: absolute;
    top: 146px;
    left: 350px;
}