table {
    margin: 0px auto;
}

.btn_aceptar_posicion {
    height: 40px;
    width: 100px;
    margin: 0px auto;
    padding-bottom:20px;
}

table .btn_aceptar_posicion {
    margin: 0px 10px;
}

.centrar_texto {
    width: 105px;
    margin:0px auto;    
}

.inputTextarea {
    resize:none;
    height:100px;
}

.inputTextbox {
    display: inline-block;
}