body {
    min-width:1302px;
    margin:0px;
    overflow:auto;
    font-family: 'Open Sans', sans-serif;

}
header.main_header {
    
    position:relative;
    z-index:50;
    width:100%;
    height:100px;
    background-color:#38B0E4;

}

div.header_container {

    width:90%;
    padding-top:5px;
    margin-left:auto;
    margin-right:auto;
    height:90px;

}

div.header_logo {
    
    height:100%;
    width:200px;
    display:inline-block;
    float:left;

}

div.header_logo a img {

    width:100%;
    height:100%;
    
}

div.header_log {
    
    height:100%;
    width:330px;
    display:inline-block;
    float:right;

}

nav.header_menu {
    
    height:100%;
    display:inline-block;
    float:left;
}

ul.header_menu_first_ul {

    margin:0px;
    padding-left:1%;
    padding-right:1%;
    height:100%;
    list-style:none;
    width:100%;

}

li.header_menu_first_li {
    
    display:inline-block;
    float:left;
    height:100%;
    line-height: 90px;
    vertical-align: middle;

}
li.header_menu_first_li a>img {
    
    padding-right:5px;

}

li.header_menu_first_li>a:hover {
    
    color:#2980B9;

}

li.header_menu_first_li.active>a:hover {
    
    color:white;

}

li.header_menu_first_li a.active {
    
    color:white;
    background-color:#2980B9;
}

li.header_menu_first_li a{
    
    padding-top:32px;
    padding-bottom:32px;
    padding-left:10px;
    padding-right:10px;
    font-size:larger;
    font-weight:normal;
    text-decoration:none;
    color:white;

}

li.header_menu_first_li a img {
    
    height:10px;
    width: 10px;

}

ul.header_menu_second_ul {

    display:none;
    padding:3px;
    border-radius:4px;
    background-color:#38B0E4;
    position:absolute;
    margin-top:10px;
    list-style:none;
    min-width:175px;
}

li.header_menu_second_li {
    
    display:block;
    height:100%;
    line-height: 30px;
    vertical-align: middle;
    border-radius:4px;

}

li.header_menu_second_li:hover {
    
    background-color:#2980B9;

}

li.header_menu_second_li a{
    
    padding-top:0px;
    padding-bottom:0px;
    padding-left:10px;
    padding-right:10px;
    font-size:larger;
    font-weight:normal;
    text-decoration:none;
    color:white;

}
div.header_log_user_name {
    
    padding-top:32px;
    padding-bottom:32px;
    display:inline-block;
    float:left;
    text-align:right;
    max-width:210px;
    width:210px;
    color:white;

}

div.header_log_icons{
    width:120px;
    height:60px;
    display:inline-block;
    float:right;

}



.iconoslogout{

    width:60px;
    height:60px;
    float:left;

}


div.title {

    width:100%;
    height:50px;
    background-color:#2980B9;
}

div.title h1{
    color:white;
    margin:0px;
    width:100%;
    height:100%;
    text-align:center;
}

div.content {
    position:relative;
    width:100%;
    min-height:500px;
    z-index:30;
    overflow:auto;
}

div.content_left_side {

    margin-top:20px;
    margin-bottom:20px;
    min-height:500px;
    width:18%;
    display:inline-block;
    float:left;
    position:relative;
    border-radius:4px;
    background-color:#EBEBEB;
    margin-left:1%;
    margin-right:1%;

}

div.content_middle {
    margin-top:20px;
    margin-bottom:20px;
    min-height:500px;
    width:80%;
    display:inline-block;
    float:left;
    position:relative;
    border-radius:4px;
    background-color:#EBEBEB;
    margin-left:10%;
    margin-right:10%;
}

div.content_right_side {
    margin-top:20px;
    margin-bottom:20px;
    min-height:500px;
    width:18%;
    display:inline-block;
    float:left;
    position:relative;
    border-radius:4px;
    background-color:#EBEBEB;
    margin-left:1%;
    margin-right:1%;

}

footer.main_footer {

    background-color:#38B0E4;
    width:100%;
    height:80px;

}

footer.main_footer h3{

    color:white;
    padding-top:25px;
    text-align:center;
}
