.imagen_publicidad {
    padding:2%;
    border-radius:10px;
    width:96%;
    height:200px;
}

.mas_menos_info{
	width:30px;
	height:30px;

}
.Boton {
    font-family: 'Open Sans', sans-serif;
    font-size:medium;
    border:none;
    border-radius:4px;
    height:40px;
    width:100px;
    background-color:#2980B9;
    color:white;
    cursor:pointer;

}


.labels, .radio_list, .check_box_list, .combo_box , .list_box {
    font-family: 'Open Sans', sans-serif;
    font-size:medium;
    color:#2980B9;
	

}
.labels2 {
    font-family: 'Open Sans', sans-serif;
    font-size:medium;
    color:white;

}
.HiperLink {
     font-family: 'Open Sans', sans-serif;
    font-size:medium;
    color:white;
    text-decoration:underline;
    cursor:pointer;

}

.combo_box{
	width:250px;
	height:40px;
    margin:10px;
    font-family: 'Open Sans', sans-serif;
    font-size:medium;
    border:none;
    border-radius:4px;
    color:#2980B9;
    padding:5px;
	
}


.grid_view {

    padding:10px;
    font-family: 'Open Sans', sans-serif;
    font-size:medium;
    color:#2980B9;
    border-radius:4px;
    border:2px solid #ACACAC;
    text-align:center;

}

.actions_icons {
    width:60px;
    height:60px;

}

.textbox {
    
    border-style: none;
    border-color: inherit;
    border-width: medium;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size:medium;
    border-radius:4px;
    height:39px;
    width:240px;
    color:#2980B9;
    padding:5px;
}

h2, h3 {
    margin-top:40px;
    margin-bottom:30px;
    font-family: 'Open Sans', sans-serif;
    color:#2980B9;
    text-align:center;
    width:100%;

}

/*Switch - Activar o Desactivar*/
.onoffswitch {
    position: relative; width: 80px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "SI";
    padding-left: 12px;
    background-color: #3796c6; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "NO";
    padding-right: 12px;
    background-color: #E2E2E2; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 38px; margin: -4px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 46px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*Switch*/

.avisoMensaje {
   
    width:100%;
    font-size:large;
    color:#fff;
    display:block;
    border-radius:5px;
    text-align:center;
    line-height:30px;
    margin-bottom:20px;

}
.avisoMensajeBot {
   
    font-size:large;
    color:#fff;
    display:block;
    border-radius:5px;
    line-height:30px;
    margin-bottom:20px;
    padding-right:20px;
    padding-left:20px;
}


.MensajeError {
     background: #c40000;

}
.MensajeExito {
    background: #00c408;


}

.combo_box_estatus{
	width:150px;
	height:40px;
    margin:10px;
    font-family: 'Open Sans', sans-serif;
    font-size:medium;
    border:none;
    border-radius:4px;
    color:#2980B9;
    padding:5px;
	
}

/*Para el GridView ----- Empieza*/
 
.mGrid {
 
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;
}
 
    .mGrid td {
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }
 
    .mGrid th {
        padding: 4px 2px;
        color: #fff;
        background: #424242 url(../img/grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 0.9em;
        vertical-align:middle;
    }
 
    .mGrid .alt {
        background: #fcfcfc url(../img/grd_alt.png) repeat-x top;
    }
 
    .mGrid .pgr {
        background: #424242 url(../img/grd_pgr.png) repeat-x top;
    }
 
        .mGrid .pgr table {
            margin: 5px 0;
        }
 
        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }
 
        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }
 
            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }
 
/*Para el GridView ----- Termina*/
 
/*Inicio Boton buscar */
.botonCualquiera
{
   height: 31px;
   border-radius: 3px;
   background: #3796c6;
   color: #fff;
   text-transform: uppercase;
   cursor: pointer;
}
 
 
.btnSearch{ 
    margin-left: -4px;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    height: 30px;
    width: 34px;
    vertical-align:middle;
}
 
/*Terminar Boton buscar */

.cal {
    background:white;
    border:none;
 
}

.cal_title_style {
    background:#3796c6;
    color:white;
    padding:0px;
}